[project]
name = "c0mpiled"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "dotenv>=0.9.9",
    "fastapi>=0.134.0",
    "uvicorn>=0.41.0",
]
